.inc-ex-cont{
    margin:10px 0;
    padding: 10px;
    width: 100%;
    display:flex;
    background-color: whitesmoke;
    justify-content: center;
    /* align-items: center; */
    box-shadow: 5px 5px 2px  white;
}
.income,.expense { 
    padding: 10px;
    text-align: left;
}
.income{
    border-right: 1px solid  gray;
}
.income p{
    color: lightgreen;
}

.expense p{
    color: lightcoral;
}
h4{
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
p{
    color: blue;
}