.minus{
    display: flex;
    justify-content: space-between;
}

.plus{
    display: flex;
    justify-content: space-between;
    border-bottom:gray;
    margin-bottom: 0.4rem;
    background-color:  white;
    padding: 5px;
}

.delete-btn{
  width: 1rem;
  background-color: lightcoral;
  border: none;
  border-radius: 3px;
  cursor:pointer;
}
.amount{
    color: lightcoral;
}